[submodule "External/DirectX-Headers"]
	path = External/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
